h1{
	color:#0000FF;
}
h2{
	color: #00CCFF;
}
body {
	font-size: 14px;
	font-weight: 300;
	font-family: 'Pacifico', sans-serif;

}
body{
	background-image: url("https://p7.hiclipart.com/preview/286/755/703/watercolour-flowers-watercolor-flowers-watercolor-painting-hand-painted-roses-floral-background.jpg");
	min-height: 600px;
	background-size: cover;
	background-position: center center;
}