h1{
	color:#B0C4DE;
}
h2{
	color: #FFA500;
}
body {
	font-size: 30px;
	font-weight: 300;
	font-family: 'Pacifico', sans-serif;

}
body{
	background-image: url("https://cdn.pixabay.com/photo/2018/03/10/18/22/flower-3214833_960_720.jpg");
	min-height: 600px;
	background-size: cover;
	background-position: center center;
}